
div.title{
	min-height: 150px;
	background-color: red;
}

div.subtitle{
	min-height: 600px;
	background-color: grey;
}
section article{
	margin-top: 10px;
}


body {
      position: relative;
  }
  ul.nav-pills {
      top: 150px;
      position: fixed;
  }
  div.col-sm-9 div {
      height: 250px;
      font-size: 28px;
  }
  

 .nav-pills>li{
    background-color: #222222;
    color: white!important;
}
 .nav-pills>li>a:hover {
       background-color: black!important;
}
 .nav-pills>li.active>a:hover, .nav-pills>li.active>a, .nav-pills>li.active>a:focus{
       background-color: #ff3333!important;
}
